.services {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  // padding: 20px 0;

  .textContainer {
    flex: 1;
    align-self: end;
    display: flex;
    align-items: center;
    gap: 20px;

    p {
      font-weight: 200;
      font-size: 20px;
      color: grey;
      text-align: right;
    }

    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid gray;
    }
  }

  .titleContainer {
    flex: 2;

    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      display: flex;
      align-items: center;
      gap: 50px;

      img {
        width: 170px;
        height: 70px;
        object-fit: cover;
        border-radius: 50px;
      }

      h1 {
        font-size: 60px;
        font-weight: 100;
      }

      button {
        width: 170px;
        height: 70px;
        border-radius: 50px;
        background-color: orange;
        border: none;
        font-size: 20px;
      }
    }
  }

  .listContainer {
    flex: 2;

    display: flex;
    max-width: 1100px;
    margin: auto;

    .box {
      padding: 30px;
      border: 0.5px solid gray;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;

      button {
        padding: 10px;
        background-color: orange;
        border: none;
        cursor: pointer;
      }
    }
  }
}
