@import "../../app.scss";

.portfolio {
  position: relative;

  .progress {
    //  Lorsque vous utilisez position: sticky, vous devez spécifier une valeur pour au moins une des propriétés
    // top, right, bottom ou left
    // pour indiquer le point de référence à partir duquel l'élément se comportera comme collant (sticky).
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: orange;
    font-size: 28px;

    @include mobile {
      padding-top: calc(100vh - 50px);
      font-size: 20px;
    }

    .progressBar {
      height: 8px;
      background-color: white;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    overflow: hidden;

    .wrapper {
      max-width: 1100px;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;
      }

      .imageContainer {
        flex: 1;
        height: 50%;

        @include mobile {
          width: 100%;
          max-height: 300px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;

          @include mobile {
            object-fit: contain;
          }
        }
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;

        h2 {
          font-size: 72px;
        }

        p {
          color: gray;
          font-size: 20px;
        }

        button {
          background-color: orange;
          border: none;
          border-radius: 10px;
          padding: 10px;
          width: 200px;
          cursor: pointer;
        }
      }
    }
  }
}
